<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>React Component Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">
    window.initialDocsState = <%- JSON.stringify(initialDocsState) -%>
  </script>
</head>
<body>
  <main id="root"><%- initialDom -%></main>
  <script src="/vendor.js?version=0.1.0"></script>
  <script src="/app.js?version=0.1.0"></script>
</body>
</html>